.headerWrapper {
  width: 100%;
  height: 59px;
  background-color: #a1caa3;
  padding-left: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .headerTitle {
    margin: 0;
  }

  .image-icon {
    width: 25px;
    height: 25px;
  }
}
